# App
APP_NAME="Smart Display"
APP_ENV=development
DEBUG=true
API_PREFIX=/api
HOST=0.0.0.0
PORT=8000

# Docker Compose Settings
BACKEND_PORT=8000
HEALTHCHECK_INTERVAL=30s
HEALTHCHECK_TIMEOUT=10s
HEALTHCHECK_RETRIES=3

# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sd_db
DB_PORT=5432
DATABASE_URL="postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@db:${DB_PORT}/${DB_NAME}"
DB_ECHO=false
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_PRE_PING=true
DB_HEALTHCHECK_INTERVAL=10s
DB_HEALTHCHECK_TIMEOUT=5s
DB_HEALTHCHECK_RETRIES=5

# pgAdmin
PGADMIN_PORT=5050
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# UJIN API
UJIN_API_TOKEN=ust-0000000-00000000000000000000000000000000
UJIN_API_BASE_URL=https://hck-api.unicorn.icu